@model IEnumerable<Persona>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NombreCompleto)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona pers in Model)
        {
        <tr>
            <td>
                @pers.Nombre
            </td>
            <td>
                @pers.Apellido
            </td>
            <td>
                @pers.NombreCompleto
            </td>
        </tr>
        }
    </tbody>
</table>